@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('/public/font/FontsFree-Net-Jeko-Medium.ttf');

@font-face {
  font-family: "Jeko";
  src: url("../public/font/FontsFree-Net-Jeko-Medium.ttf");
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background-image: url('https://app.pfida.com/img/vuexy-login-bg.04351a33.jpg');
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

input[type="date"] {
  /* Reset styles */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  /* Optional: Add more styling as needed */
}